*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://i.pinimg.com/564x/af/03/51/af035142c43da0e475d83e06bca39cb4.jpg);
    background-size: cover;
    background-position: center;
}
